<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout
    <%= event.eventName %> - Ticket-Hub</title>
  <%- include partials/html-head %>
</head>

<body class="checkout">

  <%- include partials/navbar %>

    <!-- Begin page content -->
    <main class="container">
      <div class="row">
        <div class="col-md-8 col-lg-5">
          <header class="title mt-3 mb-2">Pago</header>
          <form autocomplete="off">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" required>
              <small class="form-text text-muted">
                Como se muestra en tu tarjeta
              </small>
            </div>
            <div class="form-row">
              <div class="form-group col-8">
                <label for="cc">Numero de Tarjeta</label>
                <input type="text" class="form-control" id="cc" pattern="\d{16}" title="16 digits" required>
                <small class="form-text text-muted">
                  No incluir espacios.
                </small>
              </div>
              <div class="form-group col-4">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" required pattern="\d{3}" title="3 digits">
              </div>
            </div>

            <label for="month">Fecha de vencimiento</label>
            <div class="form-row">
              <div class="form-group col-8">
                <select class="form-control custom-select" id="month">
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
              </div>
              <div class="form-group col-4">
                <label for="year" class="sr-only">Fecha de vencimiento</label>
                <select class="form-control custom-select" id="year">
                  <option value="18">2025</option>
                  <option value="19">2026</option>
                  <option value="20">2027</option>
                  <option value="21">2028</option>
                  <option value="22">2029</option>
                  <option value="23">2030</option>
                </select>
              </div>
            </div>
            <div class="list-group mb-3">
              <h5 class="text-muted">Carrito</h5>
              <li class="list-group-item first">
                <div class="d-flex justify-content-between align-items-center">
                  <h6>
                    <%= event.eventName %>
                  </h6>
                  <small class="price text-muted">
                    <%= event.price %>
                  </small>
                </div>
              </li>
              <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                  <h6>
                    Total
                  </h6>
                  <strong class="total">
                    <%= event.price %>
                  </strong>
                </div>
              </li>
            </div>
            <div class="card p-2">
              <div class="input-group">
                <label for="promo" class="sr-only">Codigo Promocional</label>
                <input class="form-control" id="promo" placeholder="Promo code" type="text">
                <div class="input-group-append">
                  <button type="button" data-eventid="<%= event.eventId %>" class="redeem btn btn-secondary">Redeem</button>
                </div>
              </div>
            </div>
            <div class="invalid text-danger" style="display: none;">
              Codigo Invalido.
            </div>
            <button class="checkout-btn btn btn-success btn-block btn-lg mt-3 mb-4" data-eventid="<%= event.eventId %>" type="submit">Checkout</button>
          </form>

        </div>
    </main>

    <!-- Modal -->
    <div id="error-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger">Compra de Boleto Fallido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <%- include partials/footer %>


      <%- include partials/html-scripts %>
        <script src="/assets/checkout.js"></script>
</body>

</html>