<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ticket-Hub</title>
	<%- include partials/html-head %>
</head>

<body class="home-page">
	<%- include partials/navbar %>

		<!-- Begin page content -->
		<main class="container">
			<header class="title mt-3 mb-0">Buscar</header>
			<% if (searchString) { %>
			<small class="text-muted">Resultados de busqueda: "<%= searchString %>"</small>
			<% } else { %>
			<small class="text-muted">Mostrado todos los resultados</small>				
			<% } %>
				<!-- Filter -->
				<form action="/search" class="form-inline mt-3">
				<input type="hidden" name="q" value="<%= searchString %>" >
        <label for="filter-events">Filtro</label>
					<select name="filter_type" class="form-control custom-select ml-0 ml-sm-2" id="filter-events" data-selected="<%= filter_type %>">
						<option value="all">Todos los eventos</option>
						<option value="past">Eventos pasados</option>
						<option value="upcoming">Eventos Futuros</option>
					</select>
      	</form>
			<!-- Display list of cards -->
			<%- include partials/event-view-cards %>
		</main>

		<!-- Sticky Footer -->
		<%- include partials/footer %>

			<!-- Bootstrap core JavaScript
    ================================================== -->
			<!-- Placed at the end of the document so the pages load faster -->
			<%- include partials/html-scripts %>
			<script>
          $('select').val($('select').data('selected'));
          $('select').change(() => {
            $('form').get(1).submit();
          });
			</script>
</body>

</html>