<!DOCTYPE html>
<html lang="en">

<head>
  <title>Editar
    <%= event.eventName %> - TicketHub</title>
  <%- include partials/html-head %>
    <!-- Include pickadate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.css" integrity="sha256-HJnF0By+MMhHfGTHjMMD7LlFL0KAQEMyWB86VbeFn4k="
      crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.date.css"
      integrity="sha256-Ex8MCGbDP5+fEwTgLt8IbGaIDJu2uj88ZDJgZJrxA4Y=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/default.time.css"
      integrity="sha256-0GwWH1zJVNiu4u+bL27FHEpI0wjV0hZ4nSSRM2HmpK8=" crossorigin="anonymous" />
    <!-- Quilljs -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body class="create-page">

  <%- include partials/navbar %>

    <!-- Begin page content -->
    <main class="container">
      <div class="row big-font">
        <div class="col-md-10 col-lg-8 mb-5">
          <header class="title mt-3 mb-2">Actualizar
            <%= event.eventName %>
          </header>
          <form class="needs-validation ml-1" novalidate autocomplete="off">
            <div class="form-group mt-2">
              <label for="event-name">Nombre</label>
              <input type="text" class="form-control" id="event-name" placeholder="Nombre del evento" value="<%= event.eventName %>" required>
              <div class="invalid-feedback">
                Nombre del evento es obligatorio.
              </div>
            </div>

            <div class="form-group">
              <label for="overview">Resumen</label>
              <textarea class="form-control" id="overview" rows="3" placeholder="Resumen" required><%= event.summary %></textarea>
              <div class="invalid-feedback">
                Resumen es obligatorio.
              </div>
            </div>

            <div class="form-group">
              <label for="address">Dirección</label>
              <input type="text" class="form-control" id="address" placeholder="Dirección" value="<%= event.address %>" required>
              <div class="invalid-feedback">
                Direccion del evento es obligatorio.
              </div>
            </div>

            <div class="form-group">
              <label for="date">Fecha</label>
              <input class="form-control" id="date" placeholder="Fecha de evento" data-date="<%= event.startDate.toString() %>" required>
              <div class="invalid-feedback">
                Fecha de evento es obligatoria.
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="start-time">Hora de inicio</label>
                <input class="form-control" id="start-time" placeholder="Hora de inicio" data-start-time="<%= event.startDate.toString() %>"
                  required>
                <div class="invalid-feedback" id="start-feedback">
                  Hora de inicio es obligatorio.
                </div>
              </div>

              <div class="form-group col-md-6">
                <label for="end-time">Hora de Fin</label>
                <input class="form-control" id="end-time" placeholder="Hora de fin" data-end-time="<%= event.endDate.toString() %>" required>
                <div class="invalid-feedback">
                  
                </div>
              </div>
            </div>

            
            <div class="form-group">
              <label for="full-desc">Descripción completa</label>
              <div id="full-desc" data-full-desc="<%= event.fullDesc %>"></div>
              <div class="invalid-feedback" id="quill-feedback">
                Descripcion completa del evento es obligatorio.
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-lg-5">
                <label for="capacity">Precio</label>
                <input type="number" class="form-control" id="price" min="0" placeholder="Precio" value="<%= event.price.slice(1) %>">
                <div class="invalid-feedback">
                  Ingresa un numero valido.
                </div>
                <small class="form-text text-muted">
                  Dejar vacio si es gratis.
                </small>
              </div>
              <div class="form-group col-lg-5">
                <label for="capacity">Capacidad</label>
                <input type="number" class="form-control" id="capacity" min="1" placeholder="Numero de asientos" value="<%= event.capacity %>"
                  required>
                <div class="invalid-feedback">
                  Ingresa un numero valido.
                </div>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-lg-5">
                <label for="promo-code">Codigo Promocional</label>
                <input type="text" class="form-control" id="promo-code" placeholder="Codigo prmocional" value="<%= event.promoCode %>">
                <small class="form-text text-muted">
                  Opcional
                </small>
                <div class="invalid-feedback">
                 Ingresa un codigo valido.
                </div>
              </div>

              <div class="form-group col-lg-5">
                <label for="discount">Porcentaje de descuento</label>
                <input type="number" class="form-control" min="0" max="100" id="discount" placeholder="Porcentaje de descuento" value="<%= event.discount %>">
                <small class="form-text text-muted">
                  Codigo de promocion
                </small>
                <div class="invalid-feedback">
                Ingresa un numero valido.
                </div>
              </div>
            </div>

            <button class="btn btn-primary submit-btn" type="submit">Subir</button>
            <button class="btn btn-secondary reset" type="button">Limpiar</button>
          </form>
        </div>
      </div>

      <!-- Modal -->
      <div id="update-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger">Actualizacion fallida</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include partials/footer %>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->

      <%- include partials/html-scripts %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js" integrity="sha256-A1y8n02GW5dvJFkEOX7UCbzJoko8kqgWUquWf9TWFS8="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js" integrity="sha256-vFMKre5X5oQN63N+oJU9cJzn22opMuJ+G9FWChlH5n8="
          crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js" integrity="sha256-rTh8vmcE+ZrUK3k9M6QCNZIBmAd1vumeuJkagq0EU3g="
          crossorigin="anonymous"></script>
        <!-- Include the Quill library -->
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
        <script src="/assets/update-form.js"></script>
</body>

</html>